.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.bag-container{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 60px;
    margin-top: 60px;
}
.bag-choice{
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media screen and (max-width: 480px) {
    .shop-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .bag-choice{
        order: 0;
        
    }
    .bag-container{
        order: 1;
       
        grid-template-columns: repeat(1, 1fr);
    }
}